.top-page {
    background-color: #112937;
    display: flex;
    flex-direction: column;
    margin: -10px;
}

.topheader {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.links {
    color: gray;
    display: flex;
    gap: 50px;
    
}

h1 {
    margin-top: 0%;
}

.card1 {
    color: aliceblue;
    display: flex;
    margin-top: 80px;
    padding: 50px;
}

.image {
    display: flex;
}

.secondpage {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    flex-direction: row

}

.secondpagetext {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.secondpagesubtext {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.secondpageimages {
    display: flex;
    justify-content: space-between;
}

.thirdpage {
    background-color: #e5e7eb;
}

.thirdpagequote {
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    font-size: 36px;
}

.thirdpagecredit {
    color: darkslategrey;
    display: flex;
    font-size: 20px;
    align-items: end;
}

.lastpage {
    background-color: #3992F6
}

button {
    display: flex;
    color: #e5e7eb;
    background-color: #3992F6;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.lastpage {
    margin: 50px;
    flex-direction: column
}

body {
    background-color: white;
}

.lastpagetext {
     color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.lastpagebutton {
    display: flex;
    color: #e5e7eb;
    background-color: #3992F6;
    padding-top: 5px;
    padding-bottom: 32px;
    border-radius: 8px;
}